<header class="header-home">
  <nav class="nav-home">
    <div class="logo-mercadoLivre">
      <a>
        <img src="../../assets/imagens/mercado-livre-logo-8.png" alt="Logo Mercado Livre" />
      </a>
    </div>
    <div class="input-search">
      <input placeholder="Buscar produtos, marcas e muito mais..." style="padding: 4px 16px" type="text" />
    </div>
    <div class="assine-meli">
      <img src="https://http2.mlstatic.com/D_NQ_978018-MLA81783583644_012025-OO.webp" alt="imagem-promo" />
    </div>
  </nav>
  <div class="acoes-gerais">
    <div class="cep">
      <img src="../../assets/imagens/location.png" style="height: 20px" />
      <p>Informe o <br />seu cep</p>
    </div>
    <div class="nav-home-funcionalidades">
      <ul>
        <li>Categorias</li>
        <li>Ofertas</li>
        <li>Cupons</li>
        <li>Supermercado</li>
        <li>Moda</li>
        <li>Mercado Play</li>
        <li>Vender</li>
        <li>Contato</li>
      </ul>
    </div>
    <div class="nav-3"></div>
  </div>
</header>
<main>
  <div class="container-2">
    <img src="../../assets/imagens/D_NQ_630907-MLA81498722886_012025-OO.webp" alt="" />
  </div>

<div class="container-elements">
  <div class="height-top">
    <div class="element">
      <div class="titulo-element">
        <h2>Frete Grátis</h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/new-buyer.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
    <div class="element">
      <div class="titulo-element">
        <h2>Entre na sua conta</h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/registration-da.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
    <div class="element">
      <div class="titulo-element">
        <h2>Insira a sua localização</h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/location.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
    <div class="element">
      <div class="titulo-element">
        <h2>Meios de pagamento</h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/payment-methods.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
    <div class="element">
      <div class="titulo-element">
        <h2>Menos de <strong>$100</strong></h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/mlb-low-price-product.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
    <div class="element">
      <div class="titulo-element">
        <h2>Mais vendidos</h2>
      </div>
      <div class="logo-element">
        <img src="../../assets/imagens/top-sale.svg" alt="" />
      </div>
      <div class="span-element">
        <span><a href="#">Benefício por ser sua primeira compra.</a></span>
      </div>
      <div class="button-element">
        <span> Mostrar produtos</span>
      </div>
    </div>
  </div>
  </div>
</main>
<footer></footer>